/* Общие стили */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

.nav .menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.nav .menu li {
    margin: 0 10px;
}

.nav .menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}


.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}





.history {
    padding: 20px;
    text-align: center;
}

.history-table {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 20px;
}

.history-table th,
.history-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.history-table th {
    background-color: #333;
    color: #fff;
}

.history-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.history-table tr:hover {
    background-color: #f1f1f1;
}

.history-table td {
    font-size: 0.95rem;
}
