/* Общие стили */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

.nav .menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.nav .menu li {
    margin: 0 10px;
}

.nav .menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.hero {
    text-align: center;
    padding: 50px 20px;
    background-color: #f4f4f4;
}

.gallery {
    padding: 20px;
}

.gallery .photos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gallery .photos img {
    width: 250px;
    height: auto;
    margin: 10px;
    border-radius: 5px;
    transition: transform 0.3s;
}

.gallery .photos img:hover {
    transform: scale(1.1);
}

.events {
    padding: 20px;
}

.events article {
    background: #f9f9f9;
    margin: 10px 0;
    padding: 10px;
    border-left: 5px solid #333;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

h3 a {
    text-decoration: none; 
    color: inherit; 
}